<h1>Listing address_with_postal_codes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @address_with_postal_codes.each do |address_with_postal_code| %>
  <tr>
    <td><%= link_to 'Show', address_with_postal_code %></td>
    <td><%= link_to 'Edit', edit_address_with_postal_code_path(address_with_postal_code) %></td>
    <td><%= link_to 'Destroy', address_with_postal_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address with postal code', new_address_with_postal_code_path %>
