<% provide(:title, 'Contact') %>
<div class="center hero-unit">
  <h1>Contact</h1>

  <h2>This is the contact page for Sherlock</h2>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
